html {
    background-color: #404040;
    font-size: 16px;
}

* { 
    box-sizing: border-box;
    color: #efefef;
    position: relative;
    font-family: 'PT Mono', monospace;
}

a {
    text-decoration: none;
}

button {
    color: black;
    background-color: #efefef;
    padding: 0;
    text-align: center;
    border: none;
    margin: 10px;
    box-shadow: 1px 1px 4px black;
}

button.add-post-button {
    font-size: 7rem;
    padding: 0;
    width: 75px;
    height: 75px;
    color: #efefef; 
    background-color: transparent;
    box-shadow: none;
    position: fixed;
    right: 0;
    top: 0;
    margin: 0;
    line-height: 0;
    z-index: 10000;
}

ul {
    list-style: none;
}

.section-heading {
    margin-top: 3.5vw;
    margin-bottom: -2.5vw;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 5%;
    background-color: rgba(0,0,0);
}

.modal .postAddEdit, .modal .commentAddEdit {
    padding: 5%;
}

.modal form {
    background-color: rgba(128, 128, 128);
}
.modal label {
    vertical-align: top;
    font-size: 1.2rem;
    width: 15%;
    display: inline-block;
    color: #efefef;
}

button.post-button {
    height: 100px;
}

form input, form textarea, form select {
    border: none;
    background-color: #efefef;
    color: black;
    padding: 1%;
    width: 85%;
    margin-bottom: 40px;
    border-radius: 3px;
    font-size: 1rem;
}

form input, form select {
    height: 40px;
}

form button {
    width: 100%;
    background-color: #00C700;
    color: #efefef;
    font-size: 1.5rem;
    margin: 0;
}

form button.cancel-button {
    background-color: #FF8A8A;
    font-size: 0.8rem;
    margin-top: 20px;
    padding: 1%;
}


.category-list, .post, .single-post-container {
    margin: 5vw;
    box-shadow: inset 1px 1px 4px black;
    border-radius: 3px;
}

ul.category-list, .post-list {
    padding-left: 0;
}

.post, .single-post-container {
    padding: 5%;
}

ul.category-list {
    display: flex;
    justify-content: space-around;
}

.category-list li {
    padding: 5%;
}

h1, h2, h3 {
    text-align: center;

}

h4 {
    margin-top: 0;
}

h1 {
    font-size: 3rem;
    line-height: 1.5;
}

.category-react {
    color: #00C700;
}

.category-redux {
    color: #A3A3FF
}

.category-udacity {
    color: #FF8A8A;
}


.post, .comment {
    display: flex;
    justify-content: space-between;
}


.voting {
    /* box-shadow: 0.25px  0.25px  1px black; */
    width: 60px;
    background-color: rgba(256,256,256, 0.05);
    border-radius: 5px;
    height: 143px;
    margin-left: 5%;
}

.voting p {
    text-align: center;
    font-size: 1.25rem;
    margin: 0;
    
}

button.vote {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    font-size: 1.5rem;
    vertical-align: baseline;
    padding-top: 8px;
    background-color: rgba(0,0,0,0.15);
    color: #efefef;
    box-shadow: none;
}

.vote:hover {
    background-color: rgba(0,0,0,0.3);
    color: white;
}

button.down-arrow {
    transform: rotate(180deg); 
}

.comment .voting {
    width: 30px;
    height: 75px;
    margin-left: 0;
    margin-right: 7%;
}

.comment .voting p {
    font-size: 0.75rem;
}

.comment button.vote {
    height: 20px;
    width: 20px;
    font-size: 0.75rem;
    padding-top: 2px;
    margin: 5px;
}

.comment {
    justify-content: flex-start;
    margin-top: 30px;
    padding: 5%;
    border: solid 1px #efefef;
}

.comment section h5 {
    margin-top: 0;
}